.input-search {
  width: 50vw;
  height: 7vh;
  top: 13px;
  left: 436px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #121212;
}

.feedback-button {
  height: 7vh;
  top: 13px;
  left: 1238px;
  padding: 10px 16px 10px 16px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #121212;
  border: 1px solid #34c94b;
  color: #34c94b;
}

.header-style {
  display: flex;
  justify-content: space-between;
}
.search-image {
  width: 20px;
  height: 20px;
  top: 27px;
  left: 961px;
  gap: 0px;
  opacity: 0px;
}

.search-btn{
  width: 5vw;
  height: 100%;
  position: relative;
  right: 5vw;
  top: 2px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid black;
}
